<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>$lang.get('browser.title')</title>
		<meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0">
		<meta name="description" content="$lang.get('browser.description')" >

		<link rel="shortcut icon" href="/giiwa.png" type="image/png" />
		<link href="/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css"/>
		<link href='/css/jquery-ui.min.css' rel='stylesheet' />
		<link rel="stylesheet" href="/css/style.css" type="text/css" />
		<link href="/css/jrs.css" rel="stylesheet" type="text/css">
		<script type="text/javascript" src="/js/jquery-2.1.4.min.js"></script>
	</head>
	<body onresize="_onresize()">
	  <header class="navbar navbar-inverse navbar-fixed-top">
	    <div class="navbar-inner">
	      <div class="container">
	        <a class="btn btn-navbar" data-toggle="collapse" data-target=".navbar-collapse">
	          <span class="icon-bar"></span>
	          <span class="icon-bar"></span>
	          <span class="icon-bar"></span>
	        </a>
	        <a  class="brand" href="/">Ratjin</a>  
	        <a href="／" class="ios-get-app small"></a>
	        <div class="collapse navbar-collapse">
	          <ul class="nav">
	          	  #if($me)
	              <li class="page_item">
	              	<a  href="javascript:;" onclick="$('#main').iframe('/user/edit')">$me.nickname</a>
	              </li>
	              #end
	              <li class="page_item">
	              	<a  href="/user">Dashboard</a>
	              </li>
	              <li class="page_item">
					#if($me)
	              	<a  href="/user/logout">Logout</a>
	              	#else
	              	<a  href="/user/login">Login</a>
	              	#end
	              </li>
	          </ul>
	        </div>
	      </div>
	    </div>
	  </header>

	<div class="" id="overview">
		<div class="container">
		</div>
	</div>
		
		<div id="main" class='container'>			
<script>
$(function(){
	$('#main').iframe('/forum/circling');
})	
</script>						
		</div>
	<footer>
		<div class="footer-credits">
			<div class="container">
				<ul class="nav-footer">
					<li>© 2016 Ratjin, Inc.</li>
					<li class="terms"><a href="/terms.html" target="_blank">Terms</a></li>
					<li>Questions? Email us at <a href="mailto:hello@ottoradio.com">hello@ratjin.org</a></li>
					<li>Powered by <a href="//giiwa.org" target="_blank">giiwa.org</a></li>
				</ul>
			</div>	  
		</div>	
	</footer>
	
	$!system.get('site.counter')

	<div id="processing" style="display: none;">
		<div class="bg"></div>
		<div class="img">
			<img src="/images/loading2.gif">
		</div>
	</div>
</body>
<script src="/bootstrap/js/bootstrap.min.js"></script>
<script src="/js/jquery-ui.min.js"></script>
<script src="/js/jquery.iframe.js"></script>
<script>
var processing = {
	show : function() {
		$('#processing').show();
	},
	hide : function() {
		$('#processing').hide();
	}
};
$(function() {
	$('#main').iframe(function(){
		var e = $('#main #title');
		if(e.length > 0) {
			var p = $('#overview .container');
			p.empty();
			p.append(e);
			$('#overview').show();
			$('#main').css('margin-top', '0');
		} else {
			$('#overview').hide();
			$('#main').css('margin-top', '70px');
		}
		_onresize();
	});
})
function _onresize(){
	var h0 = $(window).height();
	var h1 = $('footer').offset().top + $('footer').height();
	console.log(h0 + "," + h1);
	if(h0 >= h1) {
		$('body').addClass('expand');
	} else {
		$('body').removeClass('expand');
	}
}
</script>

</html>