#parse('/forum/head.html')

<div id='title'>
	<div class="blue-wrap">
		<div class="container">
			<div class="row">	
				<div class="col-sm-8">
					<h1>Create a circling</h1>
				</div>
			</div>
		</div>
	</div>	
</div>

<div class='tabs'>
	<a href='/forum/circling'>$lang.get('circling.index.title')</a>
	<span>&gt;</span>
	<a href='/forum/circling/create' class='selected'>$lang.get('circling.create.title')</a>
</div>

<form class="form-horizontal" action='/forum/circling/create'  method='post'>
  <div class="form-group">
    <label for="name" class="col-sm-2 control-label">$lang.get('circling.name')(<r>*</r>)</label>
    <div class="col-sm-4">
      <input type="text" class="form-control" name="name" id="name" value="$!name" placeholder="$lang.get('circling.name')">
    </div>
  </div>
  <div class="form-group">
    <label for="public" class="col-sm-2 control-label">$lang.get('circling.public')</label>
    <div class="col-sm-2">
      <input type="checkbox" name="public" id="public" checked="checked">
    </div>
	<g>$lang.get("circling.public.hint")</g>
  </div>
  <div class="form-group">
    <label for="public" class="col-sm-2 control-label">$lang.get('circling.public')</label>
    <div class="col-sm-2">
      <input type="checkbox" name="public" id="public" checked="checked">
    </div>
	<g>$lang.get("circling.public.hint")</g>
  </div>

  <div class="form-group">
    <label for="memo" class="col-sm-2 control-label">$lang.get('circling.memo')</label>
    <div class="col-sm-4">
      <textarea class="form-control" name="memo" id="memo">$!memo</textarea>
    </div>
  </div>

  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
      <button type="submit" class="btn btn-primary">$lang.get('btn.create')</button>
    </div>
  </div>
</form>

#parse('/forum/foot.html')
