<div class='topic-cnt'>
	<div class='col-sm-12 rtopcon'>
		<div class='pull-left'>
			<span>$!lang.get('topic.created'):$!lang.format($f.created,'yyyy-MM-dd hh:mm:ss')</span>
			<span>|</span>
			<span>$!lang.get('topic.createdby'):$!lang.get('topic.createdby_$f.createdby')</span>
		</div>
		<div class='pull-right'>
			<a>$!lang.get('topic.apply.top')</a>
			<a>
				$!lang.get('topic.floor_$f.floor')
			</a>
		</div>
	</div>
	<div class='rconten'>
		#if($f == $t)
		<div class="rtitle">
			$!f.title
        </div>
        #end
        <div>
			#if($f.refer)
			#set($r=$f.refer)
			$this.toHtml($r)
			#end
			#if($f.deleted == 1)
			<div class='del icon-warning'>$lang.get('topic.was.deleted')</div>
			#else
			<div>
			$!f.content
			</div>
			#end
        </div>
	</div>
</div>
<div class='conbutton'>
	#if($f == $t)
	<div class='recommends'>
		<div class='rec-tt'>
			<span class="list-recommend-tit">$lang.get('recommends.title')</span>
			<a class='pull-right' href="/forum/topic?cid=$cid">$lang.get('a.more.tops')&gt;&gt;</a>
		</div>
		<ul class='rec-list'>
			#foreach($f in $recommends)
			<li><a href="/forum/topic/detail?id=$f.id">$f.title</a></li>
			#end
		</ul>
	</div>
	<div class='shares'>
		<div class="bdsharebuttonbox"><a href="#" class="bds_more" data-cmd="more"></a><a href="#" class="bds_qzone" data-cmd="qzone" title="分享到QQ空间"></a><a href="#" class="bds_tsina" data-cmd="tsina" title="分享到新浪微博"></a><a href="#" class="bds_tqq" data-cmd="tqq" title="分享到腾讯微博"></a><a href="#" class="bds_renren" data-cmd="renren" title="分享到人人网"></a><a href="#" class="bds_weixin" data-cmd="weixin" title="分享到微信"></a></div>
		<script>window._bd_share_config={"common":{"bdSnsKey":{},"bdText":"","bdMini":"2","bdMiniList":false,"bdPic":"","bdStyle":"0","bdSize":"24"},"share":{},"image":{"viewList":["qzone","tsina","tqq","renren","weixin"],"viewText":"分享到：","viewSize":"16"},"selectShare":{"bdContainerClass":null,"bdSelectMiniList":["qzone","tsina","tqq","renren","weixin"]}};with(document)0[(getElementsByTagName('head')[0]||body).appendChild(createElement('script')).src='http://bdimg.share.baidu.com/static/api/js/share.js?v=89860593.js?cdnversion='+~(-new Date()/36e5)];</script>
	</div>
	#end
	<div class='combomf'>
		<a>up</a>
		<a>down</a>
		<a>report</a>
		<a>reply</a>
		#if($me.id == $t.owner && $f == $t)
		<a class="btn" href="/forum/topic/edit?id=$t.id">edit</a>
		#end
		#if($me.id == $c.owner && $f != $t)
		<a class="btn" href="javascript:;" onclick="_delete('$t.id', 1, this)">delete</a>
		#end
		#if(!$c.isForbidden($me))
		<a class="btn" href="javascript:;" onclick="_showreply('$f.id', '$f.owner_obj.nickname')">reply</a>
		#end
		#if($me.id == $c.owner)
			#if($f.deleted==1)
			<a class="btn" href="javascript:;" onclick="_delete('$f.id', 0, this)">recover</a>
			#else
			<a class="btn" href="javascript:;" onclick="_delete('$f.id', 1, this)">delete</a>
			#end
		#end
	</div>	
</div>
