<div id='title'>
	<div class="blue-wrap">
		<div class="container">
			<div class="row">	
				<div class="col-sm-8">
					<h1>Topic detail</h1>
				</div>
			</div>
		</div>
	</div>	
</div>

<div class='tabs'>
	<a href='/forum'>$lang.get('circling.index.title')</a>
	<span>&gt;</span>
	<a href='/forum/topic?cid=$!cid'>$lang.get('topic.index.title')</a>
	<span>&gt;</span>
	<a href='/forum/topic/detail?id=$!t.id'>$lang.get('topic.detail.title')</a>
</div>

<div class='col-sm-9'>
	<table class="table table-hover">
		<thead>
			<tr>
				<th class="col-sm-2"></th>
				<th class="col-sm-10">$!t.title</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td> 
					<a href="/forum/user?id=$t.owner">$!t.owner_obj.nickname</a> 
					#if($me.id==$c.owner && $me.id != $t.owner)
					<div>
						<a href="javascript:;" onclick="_deny('$cid','$f.owner')">deny</a> 
					</div>
					#end
				</td>
				<td>
					<div class='col-sm-12 content'>$!t.content</div>
					<div class="col-sm-12">
						#if(!$c.isForbidden($me))
						<a class="btn" href="javascript:;" onclick="_showreply('')">reply</a>
						#end
						#if($me.id == $t.owner)
						<a class="btn" href="/forum/topic/edit?id=$t.id">edit</a>
						#end
						#if($me.id == $c.owner)
						<a class="btn" href="javascript:;" onclick="_delete('$t.id', 1, this)">delete</a>
						#end
					</div>
				</td>
			</tr>
			#foreach($f in $list)
			<tr>
				<td> 
					<div>
						<a href="/forum/user?$f.owner">$!f.owner_obj.nickname</a> 
					</div>
					#if($me.id==$c.owner && $me.id != $f.owner)
					<div>
						<a href="javascript:;" onclick="_deny('$cid','$f.owner')">deny</a> 
					</div>
					#end
				</td>
				<td>
					#parse('/forum/topic.reply.content.html')
				</td>
			</tr>
			#end
		</tbody>
	</table>
	
	#parse('/forum/goto.page.html')
	
	<div id='reply'>
		<div class="form-horizontal">
		  <input type='hidden' name='id' value='$!t.id' />
		  <input type='hidden' name='refer' value='' />
		  <div class="form-group">
		    <label for="content" class="col-sm-2 control-label">$lang.get('topic.reply')</label>
		    <div class="col-sm-10">
		      <textarea class="form-control" name="content" id="content">$!content</textarea>
		    </div>
		  </div>
		
		  <div class="form-group">
		    <div class="col-sm-offset-2 col-sm-10">
		      <button class="btn btn-primary" onclick="_reply()">$lang.get('btn.ok')</button>
		    </div>
		  </div>
		</div>
	</div>
</div>
<ul class='col-sm-3 recommends'>
	#foreach($f in $recommends)
	<li><a href="/forum/topic/detail?id=$f.id">$f.title</a></li>
	#end
</ul>

<script>
function _deny(cid, uid) {
	processing && processing.show();
	$.post('/forum/circling/deny', {cid:cid, uid:uid}, function(d){
		processing && processing.hide();
		$.success(d.messsage);
	})
}
function _delete(id, flag, o) {
	processing && processing.show();
	$.post('/forum/topic/update', {cid:'$cid', id:id, deleted:flag}, function(d){
		processing && processing.hide();
		$(o).parent().parent().html(d);
	})
}
function _reply() {
	var p = {};
	p.id = "$t.id";
	p.refer = $('#reply input[name=refer]').val();
	p.content = editor.html();	
	$.post('/forum/topic/reply', p, function(d){
		$('#main').iframe('reload');
	});
}
function _showreply(refer){
	$('#reply input[name=refer]').val(refer);
	editor.html('');
	
	//smoothscroll to #reply
	
}
var editor = false;
$(function(){
	editor = KindEditor.create('textarea[name="content"]', {
			basePath : '/ke/',
			resizeType : 1,
			allowPreviewEmoticons : false,
			allowImageUpload : true,
			items : ['fontname', 'fontsize', '|', 'forecolor',
					'hilitecolor', 'bold', 'italic', 'underline',
					'removeformat', '|', 'justifyleft', 'justifycenter',
					'justifyright', 'insertorderedlist',
					'insertunorderedlist', '|', 'emoticons', 'image',
					'link']
		});	
})
</script>
