<li class='col-sm-12'>
	<img src='$!f.photo'/>
	<div class='cl-info'>
		<div class='col-sm-12'>
			<h1>
				#if($f1.state == 'accepted' || $f1.state == 'owner')
				<a href='/forum/topic?cid=$f.id'>$!f.name</a>
				#else
				$!f.name
				#end
			</h1>
			<p>$lang.get('circling.followers'): 
				#if($f1.state == 'owner')
				<a class='icon-users' href='/forum/circling/user?cid=$f.id'>$!f.followers</a>
				<em class='text-muted'>
					<span>|</span> 
					$lang.get('circling.followers_accepted'): 
					<a href='/forum/circling/user?cid=$f.id&state=accepted'>$!f.followers_accepted</a>
					<span>|</span>
					$lang.get('circling.followers_pending'): 
					<a class='text-danger' href='/forum/circling/user?cid=$f.id&state=pending'>$!f.followers_pending</a>
					<span>|</span> 
					$lang.get('circling.followers_rejected'): 
					<a href='/forum/circling/user?cid=$f.id&state=rejected'>$!f.followers_rejected</a>
				</em>
				#else
				<em>$!f.followers</em>
				<em class='text-muted'>
					<span>|</span> 
					$lang.get('circling.followers_accepted'): 
					$!f.followers_accepted
					<span>|</span>
					$lang.get('circling.followers_pending'): 
					$!f.followers_pending
					<span>|</span>
					$lang.get('circling.followers_rejected'): 
					$!f.followers_rejected
				</em>
				#end
			</p>
			<p>$lang.get('circling.topics'):
				#if($f1.state == 'accepted' || $f1.state == 'owner')
				<a class='icon-bubbles' href='/forum/topic?cid=$f.id'>$!f.topics</a>
				#else
				<em>$!f.topics</em>
				#end
			</p>
			<p class='text-muted'>
				<em>$!f.memo</em>
			</p>
		</div>
	</div>
	<div class='btns col-sm-12 text-right'>
		<h5 class='pull-left text-warning'>
			#if($f.owner_obj.photo)
			<img src="$f.owner_obj.photo" class='user-sm'/>
			#else
			<span class='icon-user'></span>
			#end
			
			#if($me.id == $f.owner_obj.id)
				#if($f.owner_nickname)
				$f.owner_nickname
				#else
				$!f.owner_obj.nickname
				#end
			#else
			<a href='/forum/circling?uid=$f.owner_obj.id'>
				#if($f.owner_nickname)
				$f.owner_nickname
				#else
				$!f.owner_obj.nickname
				#end
			</a>
			#end
		</h5>
		#if(!$f1)
			<a class='btn btn-sm btn-info' onclick="_follow({cid:'$f.id',follow:1}, this)">$lang.get('a.follow')</a>
		#elseif($f1.state == 'pending')
			<a class='btn btn-sm btn-info disabled'>$lang.get('a.follow.pending')</a>
		#elseif($f1.state == 'accepted')
			<a class='btn btn-sm btn-success' href='/forum/topic?cid=$f.id'>$lang.get('a.follow.accepted')</a>
		#elseif($f1.state == 'owner')
			<a class='btn btn-sm btn-info' href='/forum/circling/edit?cid=$f.id'>$lang.get('a.edit')</a>
			<a class='btn btn-sm btn-info' href='/forum/circling/user?cid=$f.id'>$lang.get('a.users')</a>
			<a class='btn btn-sm btn-success' href='/forum/topic?cid=$f.id'>$lang.get('a.follow.accepted')</a>
		#elseif($f1.state == 'rejected')
			<a class='btn btn-sm btn-info disabled'>$lang.get('a.follow.rejected')</a>
		#end
		<a class='btn btn-sm btn-warning' onclick="_follow({id:'$!f.id',delete:'$!me.id'}, this)">$lang.get('a.delete')</a>
	</div>
</li>
