#parse('/forum/head.html')

<div class='col-sm-12' style='padding:0'>
	<div class='topics col-sm-8'>
		<div class='title'>$lang.get('title.circlings')</div>
		<ul>
			#if($list.size() > 0)
				#foreach($f in $list)
				<li>
					<img src="$!f.photo"/>
					<div>
						<h4><a href='/forum/topic?cid=$f.id'>$f.name</a></h4>
						<p class='status'>
							<span style='margin-left:10px'>
								#if($f.owner_obj.photo)
								<img src="$f.owner_obj.photo" class='user-sm'/>
								#else
								<span class='icon-user'></span>
								#end
								$f.owner_obj.nickname,&nbsp;
								$lang.format($f.created, 'yyyy-MM-dd') 创建
							</span>
						</p>
						<p>$f.memo</p>
						<p class='pull-right'>圈子人数:$f.followers ｜ 主题数:$f.topics </p>
					</div>
				</li>
				#end
			#else
				<li class='text-center text-danger'>没有找到结果！</li>
			#end
		</ul>

		#parse('/forum/goto.page.html')

	</div>
	<div class='nav-right col-sm-4'>

		<div class='panel login text-center'>
			#if($me)
			<a href='/forum/circling/create' class='btn btn-success'>$lang.get('circling.create.title')</a>
			#else
			<a href='/user/login' class='btn btn-success'>$lang.get('a.login')</a>
			#end
		</div>
		#if($me)
		<div class='panel'>
			<div class='title'>$lang.get('title.mycircling')</div>
			<ul>
				#foreach($f in $mycirclings)
				<li>
					<img src="$f.photo"/>
					<div>
						<h4><a href='/forum/topic?cid=$f.id'>$f.name</a></h4>
						<p>$lang.get('circling.followers'):$!f.followers, $lang.get('circling.topics'):$!f.topics</p>
					</div>
				</li>
				#end
			</ul>
		</div>
		#end
		<div class='panel'>
			<div class='title'>$lang.get('title.hotcircling')</div>
			<ul>
				#foreach($f in $hotcirclings)
				<li>
					<img src="$f.photo"/>
					<div>
						<h4><a href='/forum/topic?cid=$f.id'>$f.name</a></h4>
						<p>$lang.get('circling.followers'):$!f.followers, $lang.get('circling.topics'):$!f.topics</p>
					</div>
				</li>
				#end
			</ul>
		</div>
	</div>
</div>
	
#parse('/forum/foot.html')
