#parse('/forum/head.html')

<div id='title'>
	<div class="blue-wrap">
		<div class="container">
			<div class="row">	
				<div class="col-sm-8">
					<h1>$lang.get('forum.title')</h1>
				</div>
			</div>
		</div>
	</div>	
</div>

<div class='col-sm-12 text-right'>
	<a href='/forum/circling/create' class='btn btn-success'>$lang.get('circling.create.title')</a>
</div>

<div class='col-sm-2'>
	<p class='text-center'>
		<a href='/forum/circling?uid=$!u.id'>$!u.nickname</a>
	</p>
	<p class='text-center'>
		#if($me.id == $u.id)
		<a href='/forum/user/edit'>
			#if($u.photo)
			<img src='$u.photo'/>
			#else
			<img src='/images/user_default.gif'/>
			#end
		</a>
		#else
		<a href='/forum/circling?uid=$u.owner'>
			#if($u.photo)
			<img src='$u.photo'/>
			#else
			<img src='/images/user_default.gif'/>
			#end
		</a>
		#end
	</p>
	<p class='text-center'>
		$lang.get('user.tops'):$!u.tops
	</p>
	<p class='text-center'>
		$lang.get('user.topics'):$!u.topics 
	</p>
	<p class='text-center'>
		$lang.get('user.replies'):$!u.replies
	</p>
	<p class='text-center'>
		$lang.get('user.created'):$!lang.format($u.created, 'yyyy-MM-dd')
	</p>
	<p class='text-center'>
		$lang.get('user.from'):$!u.from
	</p>
</div>

<ul class='col-sm-10 circlings'>
	#foreach($f in $list)
	#set($f1 = $f.getFollower($me))
	<li class='col-sm-12'>
		<img src='$f.photo'/>
		<div class='cl-info'>
			<h1>
				#if($f1.state == 'accepted' || $f1.state == 'owner')
				<a href='/forum/topic?cid=$f.id'>$!f.name</a>
				#else
				$!f.name
				#end
			</h1>
			<p>$lang.get('circling.owner'):$!f.owner_obj.nickname</p>
			<p>$lang.get('circling.users'): 
				#if($f1.state == 'owner')
				<a href='/forum/circling/user'>$!f.users</a>
				#else
				$!f.users
				#end
			</p>
			<p>$lang.get('circling.topics'):
				#if($f1.state == 'accepted' || $f1.state == 'owner')
				<a href='/forum/topic?cid=$f.id'>$!f.topics</a>
				#else
				$!f.topics
				#end
			</p>
		</div>
		<div class='btns col-sm-12 text-right'>
			#if(!$f1)
				<a class='btn btn-sm btn-info'>$lang.get('a.follow')</a>
			#elseif($f1.state == 'pending')
				<a class='btn btn-sm btn-info disabled'>$lang.get('a.follow.pending')</a>
			#elseif($f1.state == 'accepted')
				<a class='btn btn-sm btn-success'>$lang.get('a.follow.accepted')</a>
			#elseif($f1.state == 'owner')
				<a class='btn btn-sm btn-info'>$lang.get('a.users')</a>
				<a class='btn btn-sm btn-success'>$lang.get('a.follow.accepted')</a>
			#elseif($f1.state == 'rejected')
				<a class='btn btn-sm btn-info disabled'>$lang.get('a.follow.rejected')</a>
			#end
			<a class='btn btn-sm btn-warning'>$lang.get('a.delete')</a>
		</div>
	</li>
	#end
</ul>
	
#parse('/forum/goto.page.html')

#parse('/forum/foot.html')
