<div id='title'>
	<div class="blue-wrap">
		<div class="container">
			<div class="row">	
				<div class="col-sm-8">
					<h1>Forum system</h1>
				</div>
			</div>
		</div>
	</div>	
</div>

<div class='tabs'>
	<a href='/forum/circling' class='selected'>$lang.get('circling.index.title')</a>
	<span>&gt;</span>
	<a href='/forum/circling/create' class='btn btn-xs btn-success'>$lang.get('circling.create.title')</a>
</div>

<table class="table table-hover">
	<thead>
		<tr>
			<th>$lang.get('circling.name')</th>
			<th>$lang.get('circling.public')</th>
			<th>$lang.get('circling.photo')</th>
			<th>$lang.get('circling.created')</th>
			<th></th>
		</tr>
	</thead>
	<tbody>
		#foreach($f in $list)
		<tr>
			<td> 
				<a href="/forum/topic?cid=$f.id">$!f.name</a>
			</td>
			<td>$lang.get("circling.public_$f.public")</td>
			<td> 
				#if($f.photo)
				<img src="$f.photo"/>
				#end
			</td>
			<td>$!lang.format($f.created, 'yy-MM-dd HH:mm:ss')</td>
			<td> 
				<button class="btn btn-xs" onclick="$('#main').iframe('/forum/circling/history?projectid=$f.id')">
					$lang.get("a.history")
				</button>
			</td>
		</tr>
		#end
	</tbody>
</table>

#parse('/forum/goto.page.html')
