<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>$lang.get('browser.title')</title>
		<meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0">
		<meta name="description" content="$lang.get('browser.description')" >

		<link rel="shortcut icon" href="/giiwa.png" type="image/png" />
		<link href="/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css"/>
		<link rel="stylesheet" href="/css/icons.css" type="text/css" />
		<link href='/css/jquery-ui.min.css' rel='stylesheet' />
		<link rel="stylesheet" href="/ke/themes/default/default.css" />
		<link href="/css/forum.css" rel="stylesheet" type="text/css">
		<script type="text/javascript" src="/js/jquery-2.1.4.min.js"></script>
	</head>
	
	<body>
	  <header>
		<div class="center">
			<div class="left">
				<div class="logo"><a href="/" class='icon-bubbles'>$lang.get('forum.title')</a></div>
			</div>
			
			<ul class="nav navbar-nav navbar-right">
				#if($me)
				<li><a class="icon-user" href="/forum//user/edit">$!me.nickname</a></li>
				<li><a class="icon-exit" href="/user/logout">$lang.get('a.logout')</a></li>
				#if($me.hasAccess('access.config.admin'))
				<li><a class="icon-cog" href="/admin">$lang.get('a.admin')</a></li>
				#end
				#else
				<li><a class="icon-key" href="/user/login">$lang.get('a.login')</a></li>
				<li><a class="icon-quill" href="/user/register">$lang.get('a.register')</a></li>
				#end
			</ul>
		</div>
	  </header>
	  <div class='banner'>
	  	<div class='center'>
	  		<ul class='nav navbar-nav'>
	  			#parse('/forum/banner.nav.html')
	  		</ul>
			<form class="search-inline pull-right" action="/forum/circling/search" style='margin-top:4px;'>
		      <input type="text" name="q" value="$!q" placeholder="$lang.get('circling.search.text')">
		      <button type='submit' class="icon-search"></button>
			</form>
	  	</div>
	  </div>
      <div id="main" class='container'>			
