#parse('/forum/head.html')

<div id='title'>
	<div class="blue-wrap">
		<div class="container">
			<div class="row">	
				<div class="col-sm-8">
					<h1>Topic list</h1>
				</div>
			</div>
		</div>
	</div>	
</div>

<div class='tabs'>
	<a href='/forum' class='selected'>$lang.get('circling.index.title')</a>
	<span>&gt;</span>
	<a href='/forum/topic?cid=$!cid' class='selected'>$lang.get('topic.index.title')</a>
</div>

<div class="circlinginfo">
    <img id="_club_logo" title="$!c.name" alt="$!c.name" class="circling-photo" src=#if($c.photo)"$c.photo" #else '' #end>
    <div class="clinfo">
        <h1 title="$!c.name">$!c.name</h1>
        <div class="clba_s">
            <div class="moder">
				<span>$lang.get('circling.owner'):</span>
            	<a href="/forum/circling?uid=$c.owner" target="_blank">$!c.owner_obj.nickname</a>
                <p>
                    $lang.get('circling.follows'):<span class="fontred" id="carOwnerCount">$!c.follows</span>
                </p>
            </div>
            <a class='btn btn-danger icon-pushpin' href="javascript:;" onclick="_follow('$c.id')" title="$lang.get('a.circling.follow')"></a>
        </div>
    </div>
</div>

<div class='text-right col-sm-12'>
	<a href='/forum/topic/create?cid=$!cid' class='btn btn-success'>$lang.get('a.create')</a>
</div>

<div class='col-sm-12 topic'>
	
	<table class="table">
		<thead>
			<tr>
				<th>$lang.get('topic.title')</th>
				<th>$lang.get('topic.owner_created')</th>
				<th>$lang.get('topic.replies_reads')</th>
				<th>$lang.get('topic.lastreply_created')</th>
			</tr>
		</thead>
		<tbody>
			#foreach($f in $list)
			<tr>
				<td style='padding:0'> 
					<span class="topic-state">
					</span>
					<a class='topic-title' href="/forum/topic/detail?id=$f.id">$!f.title</a> 
				</td>
				<td>
					<a href="/forum/circling?uid=$f.owner">$!f.owner_obj.nickname</a>
					<br/>
					<span class='text-muted'>$!lang.format($f.created, 'yyyy-MM-dd')</span>
				</td>
				<td>
					$!f.replies
					<br/>
					<span class='text-muted'>$!f.reads</span>
				</td>
				<td>
					<a href="/forum/circling?uid=$f.owner">$!f.last.owner_obj.nickname</a>
					<br/>
					<span class='text-muted'>$!lang.format($f.last.created, 'yyyy-MM-dd HH:mm')</span>
				</td>
			</tr>
			#end
		</tbody>
	</table>
	
	#parse('/forum/goto.page.html')
</div>
<ul class='col-sm-12 cl-recommends'>
	#foreach($f in $recommends)
	<li class='col-sm-3'><a href="/forum/topic?cid=$f.id">$f.name</a></li>
	#end
</ul>

#parse('/forum/foot.html')
