#parse('/forum/head.html')

#set($f1 = $c.getFollower($me))

<div class='cir-info panel'>
	<img src="$!c.photo"/>
	<div class='info'>
		#set($f = $c.getFollower($me))
		<h4>
			$!c.name
			#if($f.state == 'owner')
			<a class='icon-pencil hint-bottom' href='/forum/circling/edit?cid=$c.id' data-hint="$lang.get('a.edit')"></a>
			#end
		</h4>
		<p>
			#if($c.owner_obj.photo)
			<img src="$c.owner_obj.photo" class='user-sm'/>
			#else
			<span class='icon-user'></span>
			#end
            $c.owner_obj.nickname,&nbsp;&nbsp;
			
			#if($f.state == 'owner')
			关注人数:<a href='/forum/circling/user?cid=$c.id'>$c.followers</a> &nbsp;|&nbsp; 话题数:$c.topics
			&nbsp;|&nbsp;申请加入人数:<a href='/forum/circling/user?cid=$c.id&state=pending'>$c.pending_follower</a>
			#else
			关注人数:$c.followers &nbsp;|&nbsp; 话题数:$c.topics
			#end
			
			#if($f.state == 'accepted')
			&nbsp;|&nbsp;<span class='text-primary'>您已经加入该圈子了</span>
			#elseif($f.state == 'pending')
			&nbsp;|&nbsp;<span class='text-danger'>等待审核确认</span>
			#elseif(!$f && $me)
			&nbsp;|&nbsp;<a class='btn btn-xs btn-info' href='javascript:;' onclick='_follow({cid:"$c.id", follow:1},this)'>申请加入</a>
			#end
		</p>
		<p>简介:$!c.memo</p>
	</div>
</div>

<div class='topics col-sm-8'>
		<div class='title'>圈子话题</div>
		<ul>
			#if($list.size() >0)
				#foreach($f in $list)
				<li>
					<img src="$f.owner_obj.photo"/>
					<div>
						<h4><a href='/forum/topic/$f.id'>$f.title</a></h4>
						<p class='status'>
							<span class='flags'>
								#if($f.cream == 1)
								<img src='/images/flags/cream.png'/>
								#end
								#if($f.top == 1)
								<img src='/images/flags/top.png'/>
								#end
								#if($f.photo == 1)
								<img src='/images/flags/photo.png'/>
								#end
								#if($f.replysInDays(1) == 1)
								<img src='/images/flags/hot.png'/>
								#end
							</span>
							<span style='margin-left:10px'>
								$lang.format($f.created, 'yyyy-MM-dd') 发表在:<a href='/forum/topic?cid=$f.cid'>$!f.circling.name</a>
							</span>
						</p>
						<p>$lang.truncate($f.content, 100)</p>
						<p>
							#if($f.last)
								#if($f.last.owner_obj.photo)
								<img src="$f.last.owner_obj.photo" class='user-sm'/>
								#else
								<span class='icon-user'></span>
								#end
								$!f.last.owner_obj.nickname,&nbsp;&nbsp;
								$!lang.truncate($f.last.content, 50)
							#end
						</p>
						<p class='pull-right'>阅读:$f.reads ｜ 回复:$f.replies ｜ 👍($!f.up) ｜ 👎($!f.down)</p>
					</div>
				</li>
				#end
			#else
				<li class='text-center text-danger'>没有找到结果！</li>
			#end
		</ul>

		#parse('/forum/goto.page.html')
	
</div>

<div class='nav-right col-sm-4'>
	<form class="search-inline" action="/forum/topic">
		<input type='hidden' name='cid' value="$cid"/>
      <input type="text" name="name" value="$!name" placeholder="$lang.get('topic.search.text')">
      <button type='submit' class="icon-search"></button>
	</form>
	
	<div class='panel login text-center'>
		#if($me)
			#set($f1 = $c.getFollower($me))
			#if($f1.state == 'owner' || $f1.state == 'accepted' || $c.access == 'public')
			<a href='/forum/topic/create?cid=$!cid' class='btn btn-success'>$lang.get('a.topic.create')</a>
			#end
		
			#if(!$f1)
				<a class='btn btn-info' onclick="_follow({cid:'$c.id',follow:1}, this)">$lang.get('a.follow')</a>
			#elseif($f1.state == 'pending')
				<a class='btn btn-info disabled'>$lang.get('a.follow.pending')</a>
			#elseif($f1.state == 'rejected')
				<a class='btn btn-info disabled'>$lang.get('a.follow.rejected')</a>
			#end
		#else
		<a href='/user/login' class='btn btn-success'>$lang.get('a.login')</a>
		#end
	</div>
	#if($me)
	<div class='panel'>
		<div class='title'>$lang.get('title.mycircling')</div>
		<ul>
			#foreach($f in $mycirclings)
			<li>
				<img src="$f.photo"/>
				<div>
					<h4><a href='/forum/topic?cid=$f.id'>$f.name</a></h4>
					<p>$lang.get('circling.followers'):$!f.followers, $lang.get('circling.topics'):$!f.topics</p>
				</div>
			</li>
			#end
		</ul>
	</div>
	#end
	<div class='panel'>
		<div class='title'>$lang.get('title.hotcircling')</div>
		<ul>
			#foreach($f in $hotcirclings)
			<li>
				<img src="$f.photo"/>
				<div>
					<h4><a href='/forum/topic?cid=$f.id'>$f.name</a></h4>
					<p>$lang.get('circling.followers'):$!f.followers, $lang.get('circling.topics'):$!f.topics</p>
				</div>
			</li>
			#end
		</ul>
	</div>
</div>

<script>
function _follow(p, o) {
	processing && processing.show();
	$.post('/forum/circling/follow', p, function(d){
		processing && processing.hide();
		$.hint("$lang.get('save.success')");
	});
}	
</script>

#parse('/forum/foot.html')
