<div id='title'>
	<div class="blue-wrap">
		<div class="container">
			<div class="row">	
				<div class="col-sm-8">
					<h1>Topic detail</h1>
				</div>
			</div>
		</div>
	</div>	
</div>

<div class='tabs'>
	<a href='/forum'>$lang.get('circling.index.title')</a>
	<span>&gt;</span>
	<a href='/forum/topic?cid=$!cid'>$lang.get('topic.index.title')</a>
	<span>&gt;</span>
	<a href='/forum/topic/detail?id=$!t.id'>$lang.get('topic.detail.title')</a>
</div>

<table class="table table-hover">
	<thead>
		<tr>
			<th class="col-sm-2"></th>
			<th class="col-sm-10">$!t.title</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td> 
				<a href="/forum/user?id=$t.owner">$!t.owner_obj.nickname</a> 
			</td>
			<td>
				<div class='col-sm-12 content'>$!t.content</div>
				<div class="col-sm-12">
					<a class="btn" href="javascript:;" onclick="_showreply('')">reply</a>
				</div>
			</td>
		</tr>
		#foreach($f in $list)
		<tr>
			<td> 
				<a href="/forum/user?$f.owner">$!f.owner_obj.nickname</a> 
			</td>
			<td>
				<div class="col-sm-12">
					#set($r=$!f.refer)
					#if($r)
					$this.toHtml($r)
					#end
					<div class='col-sm-12 content'>$!f.content</div>
				</div>
				<div class="col-sm-12">
					<a class="btn" href="javascript:;" onclick="_showreply('$f.id')">reply</a>
				</div>
			</td>
		</tr>
		#end
	</tbody>
</table>

#parse('/forum/goto.page.html')

<div id='reply'>
	<div class="form-horizontal">
	  <input type='hidden' name='id' value='$!t.id' />
	  <input type='hidden' name='refer' value='' />
	  <div class="form-group">
	    <label for="content" class="col-sm-2 control-label">$lang.get('topic.reply')</label>
	    <div class="col-sm-8">
	      <textarea class="form-control" name="content" id="content">$!content</textarea>
	    </div>
	  </div>
	
	  <div class="form-group">
	    <div class="col-sm-offset-2 col-sm-10">
	      <button class="btn btn-primary" onclick="_reply()">$lang.get('btn.ok')</button>
	    </div>
	  </div>
	</div>	
</div>
<script>
function _reply() {
	var p = {};
	p.id = "$t.id";
	p.refer = $('#reply input[name=refer]').val();
	p.content = editor.html();	
	$.post('/forum/topic/reply', p, function(d){
		$('#main').iframe('reload');
	});
}
function _showreply(refer){
	$('#reply input[name=refer]').val(refer);
	editor.html('');
	
	//smoothscroll to #reply
	
}
var editor = false;
$(function(){
	editor = KindEditor.create('textarea[name="content"]', {
			basePath : '/ke/',
			resizeType : 1,
			allowPreviewEmoticons : false,
			allowImageUpload : true,
			items : ['fontname', 'fontsize', '|', 'forecolor',
					'hilitecolor', 'bold', 'italic', 'underline',
					'removeformat', '|', 'justifyleft', 'justifycenter',
					'justifyright', 'insertorderedlist',
					'insertunorderedlist', '|', 'emoticons', 'image',
					'link']
		});	
})
</script>
